@media (min-width: 992px) and (max-width: 1199px)

	.menu__icon
		display: inline-block

	.header__menu
		width: 992px
		&__logo
			img
				margin-right: 15px

	.header__menu__list
		display: none
		flex-direction: column
		left: 63px
		top: 30px

		li
			font-size: 36px
			height: 45px
			margin-bottom: 5px
			background-color: rgba(128, 128, 128, 0.5)
			margin-left: 0px

	.header__submenu
		padding: 0

		&-list
			top: -105px
			left: 199px

			li
				width: 603px








	.header__title

		&__text
			margin: 0px 0px 0px 120px

			h2
				width: 500px

		&__phone
			margin: 100px 120px 0px 0px











	.main__dsc

		p
			font-size: 22px
			margin: 0px 10px
			padding: 0px 10px

		&__img-1
			margin: 0px 25px
			img
				width: 100px
				height: 100px

		&__img-2
			margin: 0px 25px
			img
				width: 100px
				height: 100px






	.footer__contact__dsc
		width: 992px
		p
			font-size: 50px

	.footer-arrow-1
		top: 111px
		left: 469px

	.footer-arrow-2
		top: 111px
		left: 809px