.video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: url(../img/img_fon.jpg) no-repeat #594831;
  background-size: cover; }
  .video-bg::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; }
  .video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; }

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; } }

.header__menu {
  position: relative;
  z-index: 4;
  width: 1200px;
  height: 410px;
  margin: auto;
  padding: 10px 20px 0px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__menu__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px; }
    .header__menu__logo img {
      width: 85px;
      height: 70px;
      margin-left: 20px; }
    .header__menu__logo h1 {
      color: #FFA500;
      font-size: 27px;
      font-weight: 500;
      margin: 5px 0px 0px 0px; }
  .header__menu__list {
    position: absolute;
    left: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin: 0;
    padding: 0; }
    .header__menu__list li {
      list-style: none;
      font-size: 21px;
      font-weight: 600;
      margin-left: 20px;
      height: 30px; }
      .header__menu__list li a {
        text-decoration: none;
        color: #fefefe; }
      .header__menu__list li:hover {
        cursor: pointer;
        border-bottom: 3px solid #ffd700; }

.header__submenu {
  position: relative;
  padding: 0px 10px; }
  .header__submenu-list {
    position: absolute;
    top: 30px;
    left: -60px; }
    .header__submenu-list li {
      font-size: 16px;
      width: 280px;
      height: 20px;
      background-color: rgba(128, 128, 128, 0.5);
      margin-top: 5px; }
      .header__submenu-list li a {
        text-decoration: none;
        color: #fefefe; }

.header__submenu:hover {
  border-bottom: 1px;
  background-color: rgba(128, 128, 128, 0.5); }

.header__submenu:hover .header__submenu-list {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-top: 20px; }

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #FFA500;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) {
  top: 0px; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px; }

.menu__icon span:nth-child(4) {
  top: 26px; }

.menu__icon__close {
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-top: 33px;
  left: -406px; }

.menu__icon__close span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #FFA500;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu__icon__close span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu__icon__close span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu__icon__close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu__icon__close span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.header__line {
  width: 100%;
  height: 1px;
  position: relative;
  z-index: 3;
  top: 114px;
  border-bottom: #ffd700 0.5px solid; }

.header__title {
  position: relative;
  z-index: 3;
  width: 100%;
  top: -230px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__title__text {
    color: #fefefe;
    margin: 0px 0px 0px 220px; }
    .header__title__text h2 {
      font-size: 68px;
      display: block;
      width: 964px;
      margin: 100px 0px 0px 0px; }
    .header__title__text h3 {
      font-size: 45px;
      margin: 20px 0px 20px 0px; }
  .header__title__phone {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    margin: 100px 220px 0px 0px;
    padding: 0px; }
    .header__title__phone p {
      margin: 6px 0px;
      background-color: rgba(0, 255, 0, 0.5);
      border-radius: 5px; }

.main {
  margin-top: 60px;
  background: #fefefe;
  width: 100%;
  padding: 20px 0px 0px 0px; }
  .main__dsc {
    width: 100%;
    min-height: 200px;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .main__dsc p {
      font-size: 27px;
      font-weight: 600;
      border-left: 0.5px #8e8f94 solid;
      border-right: 0.5px #8e8f94 solid;
      margin: 0px 20px;
      padding: 0px 20px; }
    .main__dsc__img-1 {
      margin: 0px 100px; }
      .main__dsc__img-1 img {
        width: 200px;
        height: 200px; }
    .main__dsc__img-2 {
      margin: 0px 100px; }
      .main__dsc__img-2 img {
        width: 200px;
        height: 200px; }

.main__foto-product {
  width: 100%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 50px 0px; }
  .main__foto-product__gallery {
    padding-top: 30px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .main__foto-product__gallery__image img {
      width: 400px;
      height: 300px;
      margin: 25px 25px; }

.footer__contact__dsc {
  position: relative;
  width: 1200px;
  margin: auto;
  text-align: center; }
  .footer__contact__dsc p {
    color: #ffd700;
    font-size: 58px;
    font-weight: 600; }
  .footer__contact__dsc span {
    color: #fefefe;
    font-size: 28px;
    margin: 0px 30px;
    border-bottom: 5px solid #ffd700;
    font-weight: 600; }

.footer__maps {
  margin-top: 50px; }

.footer__top {
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  border-bottom: 0.5px solid #8e8f94;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .footer__top__contact {
    margin: 0px 40px;
    color: #fff; }
    .footer__top__contact h3 {
      border-bottom: 1px solid #ffd700;
      font-size: 23px; }
    .footer__top__contact span {
      margin-left: 20px; }
  .footer__top__work-time {
    margin: 0px 40px;
    color: #fff; }
    .footer__top__work-time h3 {
      border-bottom: 1px solid #ffd700;
      font-size: 23px; }

.footer__bottom {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0; }
  .footer__bottom__dsc {
    text-align: center;
    padding: 15px 0px;
    color: #8e8f94;
    font-size: 12px; }

.footer-arrow-1 {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #ffd700;
  border-right: 0;
  position: absolute;
  top: 125px;
  left: 574px; }

.footer-arrow-2 {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #ffd700;
  border-right: 0;
  position: absolute;
  top: 125px;
  left: 914px; }

.footer__individual-offer {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  margin-top: 50px;
  padding: 20px 0px; }
  .footer__individual-offer__title {
    font-size: 42px;
    font-weight: 600px;
    color: #ffd700; }
  .footer__individual-offer__form {
    width: 1200px;
    margin: auto;
    text-align: center; }
    .footer__individual-offer__form__input {
      padding: 21px 120px;
      border-radius: 5px;
      margin-top: 30px;
      font-size: 20px; }
    .footer__individual-offer__form__label {
      color: white;
      font-size: 30px; }

.button {
  padding: 21px 30px;
  margin-top: 30px;
  border-radius: 10px;
  background: #ffd700;
  font-size: 28px;
  font-weight: 500; }

.body-fon {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: url(../img/img_fon.jpg) no-repeat #594831;
  background-size: cover; }
  .body-fon::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; }

.about-us_header {
  height: 500px; }

.about-us_main {
  margin-top: 20px;
  background: #fefefe;
  width: 100%;
  padding: 20px 0px 0px 0px; }
  .about-us_main__dsc {
    width: 100%;
    min-height: 200px;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .about-us_main__dsc p {
      font-size: 27px;
      font-weight: 600;
      border-left: 0.5px #8e8f94 solid;
      border-right: 0.5px #8e8f94 solid;
      margin: 0px 20px;
      padding: 0px 20px; }
    .about-us_main__dsc__img-1 {
      margin: 0px 100px; }
      .about-us_main__dsc__img-1 img {
        width: 200px;
        height: 200px; }

.about-us_main__foto-product {
  width: 100%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 50px 0px; }
  .about-us_main__foto-product__gallery {
    padding-top: 30px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .about-us_main__foto-product__gallery__image img {
      width: 400px;
      height: 300px;
      margin: 25px 25px; }

.production_main {
  margin-top: 20px;
  background: #fefefe;
  width: 100%;
  padding: 20px 0px 0px 0px; }
  .production_main__dsc {
    width: 100%;
    min-height: 200px;
    text-align: center;
    border-bottom: #ffd700 0.5px solid; }
    .production_main__dsc__text {
      margin: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .production_main__dsc__text p {
        font-size: 27px;
        font-weight: 600;
        border-left: 0.5px #8e8f94 solid;
        border-right: 0.5px #8e8f94 solid;
        margin: 0px 40px;
        padding: 0px 40px; }
      .production_main__dsc__text__img {
        margin: 0px 100px; }
        .production_main__dsc__text__img img {
          width: 300px;
          height: 300px; }
    .production_main__dsc a {
      display: inline-block;
      width: 170px;
      height: 40px;
      padding: 10px;
      background-color: rgba(255, 215, 0, 0.5);
      text-decoration: none;
      margin-bottom: 20px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 500;
      color: black; }

.production_header {
  height: 500px; }

.production_page-1_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-1_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-2_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-2_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-3_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-3_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-4_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-4_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-5_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-5_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-6_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-6_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-7_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-7_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-8_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-8_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-9_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-9_main__dsc__img img {
    width: 300px;
    height: 300px; }

.production_page-10_main__dsc {
  width: 800px;
  margin: auto; }
  .production_page-10_main__dsc__img img {
    width: 300px;
    height: 300px; }

@media (min-width: 1200px) and (max-width: 1979px) {
  .header__title__text {
    margin: 0px 0px 0px 180px; }
    .header__title__text h2 {
      width: 500px; }
  .header__title__phone {
    margin: 100px 180px 0px 0px; }
  .main__dsc p {
    font-size: 22px;
    margin: 0px 10px;
    padding: 0px 10px; }
  .main__dsc__img-1 {
    margin: 0px 50px; }
  .main__dsc__img-2 {
    margin: 0px 50px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .menu__icon {
    display: inline-block; }
  .header__menu {
    width: 992px; }
    .header__menu__logo img {
      margin-right: 15px; }
  .header__menu__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 63px;
    top: 30px; }
    .header__menu__list li {
      font-size: 36px;
      height: 45px;
      margin-bottom: 5px;
      background-color: rgba(128, 128, 128, 0.5);
      margin-left: 0px; }
  .header__submenu {
    padding: 0; }
    .header__submenu-list {
      top: -105px;
      left: 199px; }
      .header__submenu-list li {
        width: 603px; }
  .header__title__text {
    margin: 0px 0px 0px 120px; }
    .header__title__text h2 {
      width: 500px; }
  .header__title__phone {
    margin: 100px 120px 0px 0px; }
  .main__dsc p {
    font-size: 22px;
    margin: 0px 10px;
    padding: 0px 10px; }
  .main__dsc__img-1 {
    margin: 0px 25px; }
    .main__dsc__img-1 img {
      width: 100px;
      height: 100px; }
  .main__dsc__img-2 {
    margin: 0px 25px; }
    .main__dsc__img-2 img {
      width: 100px;
      height: 100px; }
  .footer__contact__dsc {
    width: 992px; }
    .footer__contact__dsc p {
      font-size: 50px; }
  .footer-arrow-1 {
    top: 111px;
    left: 469px; }
  .footer-arrow-2 {
    top: 111px;
    left: 809px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .menu__icon {
    display: inline-block; }
  .header__menu {
    width: 768px; }
    .header__menu__logo img {
      margin-right: 15px; }
  .header__menu__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 62px;
    top: 30px; }
    .header__menu__list li {
      font-size: 26px;
      height: 35px;
      margin-bottom: 5px;
      background-color: rgba(128, 128, 128, 0.5);
      margin-left: 0px; }
  .header__submenu {
    padding: 0; }
    .header__submenu-list {
      top: -85px;
      left: 135px; }
      .header__submenu-list li {
        width: 438px; }
  .header__title__text {
    margin: 0px 0px 0px 40px; }
    .header__title__text h2 {
      width: 500px;
      font-size: 52px; }
    .header__title__text h3 {
      font-size: 32px; }
  .header__title__phone {
    margin: 100px 40px 0px 0px;
    font-size: 18px; }
  .main__dsc p {
    font-size: 22px;
    margin: 0px 10px;
    padding: 0px 10px; }
  .main__dsc__img-1 {
    margin: 0px 25px; }
    .main__dsc__img-1 img {
      width: 100px;
      height: 100px; }
  .main__dsc__img-2 {
    margin: 0px 25px; }
    .main__dsc__img-2 img {
      width: 100px;
      height: 100px; }
  .main__foto-product__gallery__image img {
    width: 300px;
    height: 200px;
    margin: 10px; }
  .footer__contact__dsc {
    width: 768px; }
    .footer__contact__dsc p {
      font-size: 42px; }
  .footer-arrow-1 {
    top: 92px;
    left: 357px; }
  .footer-arrow-2 {
    top: 92px;
    left: 697px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .menu__icon {
    display: inline-block; }
  .header__menu {
    width: 576px; }
    .header__menu__logo img {
      margin-right: 15px; }
  .header__menu__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 63px;
    top: 30px; }
    .header__menu__list li {
      font-size: 20px;
      height: 25px;
      margin-bottom: 5px;
      background-color: rgba(128, 128, 128, 0.5);
      margin-left: 0px; }
  .header__submenu {
    padding: 0; }
    .header__submenu-list {
      top: -65px;
      left: 95px; }
      .header__submenu-list li {
        width: 340px; }
  .header__title__text {
    margin: 0px 0px 0px 20px; }
    .header__title__text h2 {
      width: 350px;
      font-size: 49px; }
    .header__title__text h3 {
      font-size: 27px; }
  .header__title__phone {
    margin: 100px 20px 0px 0px;
    font-size: 18px; }
  .main__dsc p {
    font-size: 20px;
    margin: 0px 10px;
    padding: 0px 10px; }
  .main__dsc__img-1 {
    margin: 0px 25px; }
    .main__dsc__img-1 img {
      width: 100px;
      height: 100px; }
  .main__dsc__img-2 {
    margin: 0px 25px; }
    .main__dsc__img-2 img {
      width: 100px;
      height: 100px; }
  .main__foto-product__gallery__image img {
    width: 250px;
    height: 160px;
    margin: 5px; }
  .footer__contact__dsc {
    width: 576px; }
    .footer__contact__dsc p {
      font-size: 32px; }
    .footer__contact__dsc span {
      font-size: 20px; }
  .footer-arrow-1 {
    top: 70px;
    left: 260px;
    border: 14px solid transparent; }
  .footer-arrow-2 {
    top: 70px;
    left: 521px;
    border: 14px solid transparent; }
  .footer__top {
    height: 286px; } }

@media (max-width: 575px) {
  .header {
    height: 500px; }
  .menu__icon {
    display: inline-block; }
  .header__menu {
    width: 320px; }
    .header__menu__logo img {
      margin-right: 5px;
      margin-left: 5px;
      width: 55px;
      height: 40px; }
    .header__menu__logo h1 {
      font-size: 17px; }
  .header__menu__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 28px;
    top: 34px; }
    .header__menu__list li {
      font-size: 12px;
      height: 18px;
      margin-bottom: 5px;
      background-color: rgba(128, 128, 128, 0.5);
      margin-left: 0px; }
  .header__submenu {
    padding: 0; }
    .header__submenu-list {
      top: -51px;
      left: 41px; }
      .header__submenu-list li {
        width: 198px; }
  .menu__icon {
    width: 25px;
    height: 15px;
    margin-left: -15px; }
  .menu__icon span {
    height: 5px; }
  .menu__icon__close {
    width: 25px;
    height: 15px;
    margin-left: -15px; }
  .menu__icon__close span {
    height: 5px; }
  .header__title {
    top: -315px; }
    .header__title__text {
      margin: 0px 0px 0px 10px; }
      .header__title__text h2 {
        width: 200px;
        font-size: 28px; }
      .header__title__text h3 {
        font-size: 20px; }
    .header__title__phone {
      margin: 100px 10px 0px 0px;
      font-size: 10px; }
  .main__dsc p {
    font-size: 13px;
    margin: 0px 5px;
    padding: 0px 5px; }
  .main__dsc__img-1 {
    margin: 0px 5px; }
    .main__dsc__img-1 img {
      width: 50px;
      height: 50px; }
  .main__dsc__img-2 {
    margin: 0px 5px; }
    .main__dsc__img-2 img {
      width: 50px;
      height: 50px; }
  .main__foto-product__gallery {
    padding-top: 0px; }
    .main__foto-product__gallery__image img {
      width: 150px;
      height: 90px;
      margin: 5px; }
  .footer__contact__dsc {
    width: 320px; }
    .footer__contact__dsc p {
      font-size: 32px; }
    .footer__contact__dsc span {
      font-size: 20px; }
  .footer-arrow-1 {
    top: 70px;
    left: 100px;
    border: 14px solid transparent; }
  .footer-arrow-2 {
    top: 70px;
    left: 100px;
    border: 14px solid transparent; }
  .footer__top {
    height: 140px; }
  .footer__top__contact {
    font-size: 8px; }
    .footer__top__contact h3 {
      font-size: 5px; }
  .footer__top__work-time {
    font-size: 8px; }
    .footer__top__work-time h3 {
      font-size: 5px; }
  .footer__bottom {
    height: 35px; }
    .footer__bottom__dsc {
      font-size: 7px; } }

body {
  font-family: 'Roboto';
  margin: 0px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hidden {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0); }
