.background-pink {
  width: 100%;
  height: 480px;
  background: #ffc8b9; }

.background-grey-pink {
  width: 100%;
  height: 70px;
  background: #fdbfb2; }

.background-yellow {
  width: 45%;
  height: 550px;
  background: #f1d99a;
  position: absolute;
  top: 0px;
  left: 55%; }

.header {
  position: relative; }
  .header-home {
    position: absolute;
    top: 0px;
    left: 50%; }
    .header-home__list {
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .header-home__list li {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px; }
    .header-home__info p {
      font-size: 46px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase; }

body {
  font-family: 'Futura'; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }
